MeteoClient/xml-resources/web-service-references/ServerMeteo1Service/wsdl/localhost_9226/ServerMeteo/ServerMeteo1Service.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://meteo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://meteo.com/">

<xs:element name="getWeather" type="tns:getWeather"></xs:element>

<xs:element name="getWeatherResponse" type="tns:getWeatherResponse"></xs:element>

<xs:complexType name="getWeather">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWeatherResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>